= content_for(:title) do
  Editing Note

= content_for(:context_navigation) do
  = render 'context_navigation', 
    client_note: @client_note,

= render 'form', 
  client_note: @client_note,
  client: @client
