= content_for(:title) do
  Store Catalog

= content_for(:sidebar) do
  = render 'sidebar'

%table.table
  %tr
    %th Name
    %th Cost
    %th Description
    %th Is available
  = render @catalog_items
