= content_for(:title) do
  Store Catalog

= content_for(:context_navigation) do
  = render 'context_navigation'

%table.table
  %tr
    %th Name
    %th Cost
    %th Description
    %th Is available
  = render @catalog_items
