%tr
  %td= store_cart.shopper_current_alias
  %td
    = l(store_cart.started_at, format: :long)
    \-
    - if store_cart.finished_at
      = l(store_cart.finished_at, format: :long)
    - else
      %span.label Open
  %td
    = store_cart.total
    Points Total
  %td= link_to "Show", store_show_path(store_cart)
