%ul.nav.nav-list
  %li= link_to "Show", @user
  - if can? :edit, @user
    %li= link_to "Edit Account", edit_user_path(@user)
  - if can? :show, PointsEntry
    %li= link_to "Points Logged", entries_user_path(@user)
