= content_for(:title) do
  Create User

%p
  Enter details below for a new regular user. You can manage
  roles from the main user listing when done.

= render "form", user: @user, available_roles: @roles
