= content_for(:title) do
  New Account

%p 
  Enter your details below for a new regular account. Talk with a staff
  member about getting access to the tools you need once you have created
  the account.

= render "form"
