- hide ||= []
%table.table.table-striped.entries
  %thead
    %tr
      %th Performed On
      - unless hide.include? :client
        %th Client
      - unless hide.include? :points_entry_type
        %th Type
      %th Location
      %th Points
      - unless hide.include? :added_by
        %th Added By
      %th Actions
    %tbody
    - points_entries.each do |entry|
      %tr
        %td= entry.performed_on
        - unless hide.include? :client
          %td= link_to entry.client_current_alias, entry.client
        - unless hide.include? :points_entry_type
          %td= link_to entry.points_entry_type_name, entry.points_entry_type
        %td= link_to entry.location_name, entry.location
        %td
          - if entry.bailed
            %span.text-error Bailed!
          = entry.points
        - unless hide.include? :added_by
          %td= link_to entry.added_by_login, entry.added_by
        %td
          = link_to "View", entry
          - if can? :manage, PointsEntry
            = link_to "Change", edit_points_entry_path(entry)
            = link_to "Remove", entry, method: :delete, confirm: "Are you sure?"
