= form_for points_entry, role: 'form' do |f|
  - if points_entry.errors.any?
    #error_explanation
      %h2= pluralize points_entry.errors.count, "error"
      %ul
        - points_entry.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :client_id, class: 'control-label'
    = text_field_tag "current_alias", client.current_alias,
      data: { provide: 'typeahead', field: 'points_entry_client_id', balance: 0 },
      autocomplete: 'off', autocapitalize: 'off', autocorrect: 'off',
      placeholder: 'The name they go by...',
      class: 'client-typeahead form-control'
    %span.hint
      - if client.is_flagged
        %span.is-flagged
          %span.icon-flag
          - if !client.can_shop?
            %span.label.label-danger No Shopping
          = link_to "flagged", flags_client_path(client), class: "text-error"
      - else
        %span.is-flagged{ style: "display: none" }
          %span.icon-flag
          %span.label.label-danger.shopping-blocked-label{ style: "display: none" } No Shopping
          = link_to "flagged", '#', class: "text-error"
      %span.pull-right
        = link_to "Add Client", new_client_path
  .form-group
    = f.label :points_entry_type_id, class: 'control-label'
    = text_field_tag "points_entry_type", points_entry_type.name,
      data: { provide: 'typeahead', field: 'points_entry_points_entry_type_id', pointsfield: 'points_entry_points_entered' },
      autocomplete: 'off', autocapitalize: 'off', autocorrect: 'off',
      placeholder: 'What they did...',
      class: 'pointsentrytype-typeahead form-control'
  .checkbox
    = f.label :bailed do
      = f.check_box :bailed, 
        data: { field: 'points_entry_points_entered', penalty: bail_penalty }, 
        class: 'bailed'
      Bailed
  .form-group
    .col-xs-2.well
      %span.point-balance.text-info= number_with_delimiter client.point_balance
      +
    .col-xs-4
      = f.label :points, class: 'control-label'
      = f.number_field :points_entered, 
        data: { default: points_entry_type.default_points }, 
        placeholder: 'How many points gained or spent...',
        autocomplete: 'off', class: 'form-control'
    .col-xs-4
      x
      = f.label :multiple, class: 'control-label'
      = f.number_field :multiple,
        data: { default: 1 },
        autocomplete: 'off', class: 'form-control'
    .col-xs-2.well
      \=
      %span.new-balance.text-info
  .form-group
    = f.label :location_id
    = location_select f, :location_id, current_user
  - unless points_entry.new_record?
    .row
      .form-group
        = f.label :performed_on
        = f.date_select :performed_on, class: 'form-control'
  .form-group
    = f.hidden_field :client_id
    = f.hidden_field :points_entry_type_id
    = f.submit class: "btn btn-block btn-primary"
    = cancel_button
