= content_for(:title) do
  Editing Log Entry

= content_for(:sidebar) do
  %ul.nav.nav-list
    %li= link_to 'Show', @points_entry

= render 'form', points_entry: @points_entry, 
  client: @client,
  points_entry_type: @points_entry_type,
  locations: @locations,
  default_location: @default_location,
  bail_penalty: @bail_penalty
