<% prefs = current_user.preference_for :client_fields %>
<tr>
  <td>
    <%= render '/clients/info_link', client: client, picture: prefs.include?("picture") %>
    <% if prefs.include? "other_aliases" %>
      <% if client.other_aliases %>
        <em><%= client.other_aliases %></em>
      <% end %>
    <% end %>
  </td>
  <% if can? :manage, Client %>
    <% if prefs.include? "full_name" %>
      <td>
        <%= client.full_name %>
      </td>
    <% end %>
    <% if prefs.include? "point_balance" %>
      <td>
        <%= number_with_delimiter client.point_balance %> Points
      </td>
    <% end %>
    <% if prefs.include? "created_at" %>
      <td><%= client.created_at.to_date %></td>
    <% end %>
    <% if prefs.include? "oriented_on" %>
      <td>
        <% if client.oriented_on %>
          <%= client.oriented_on.to_date %>
        <% else %>
          <em>Not oriented</em>
        <% end %>
      </td>
    <% end %>
    <% if prefs.include? "birthday" %>
      <td>
        <% if client.birthday %>
          <%= client.birthday.to_date %>
        <% else %>
          <em>Not saved</em>
        <% end %>
      </td>
    <% end %>
  <% end %>
</tr>
