%tr
  %td
    = render '/clients/info_link', client: client
  - if prefs.include? "other_aliases"
    - if client.other_aliases
      %em= client.other_aliases
  - if can? :manage, client
    - if prefs.include? "point_balance"
      %td
        = number_with_delimiter client.point_balance
        Points
    - if prefs.include? "created_at"
      %td
        = client.created_at.to_date
