%tr
  %td
    = render '/clients/info_link', client: client
    - if client.other_aliases
      %em= client.other_aliases
  - if can? :manage, client
    %td
      = number_with_delimiter client.point_balance
      Points
    %td
      = client.created_at.to_date
