<ul class="nav nav-tabs">
  <% if defined?(client) and client.id -%>
    <% if can? :show, PointsEntry -%>
      <li><%= link_to "Points Log", entries_client_path(client) %></li>
    <% end -%>
    <% if can? :show, Checkin -%>
      <li><%= link_to "Checkins", checkins_client_path(client) %></li>
    <% end -%>
    <% if can? :show, ClientFlag -%>
      <li><%= link_to "Flags", flags_client_path(client) %></li>
    <% end -%>
    <% if can? :show, StoreCart -%>
      <li><%= link_to "Purchases", purchases_client_path(client) %></li>
    <% end -%>
    <% if can? :create, PointsEntry -%>
      <li><%= link_to "Log Points for #{client.current_alias}", entry_client_path(client) %></li>
    <% end -%>
    <% if can? :edit, client -%>
      <li><%= link_to "Edit #{client.current_alias}", entry_client_path(client) %></li>
    <% end -%>
    <% if client.checkin_code -%>
      <li><%= link_to "ID Card for #{client.current_alias}", card_client_path(client, format: :svg) %></li>
    <% end -%>
  <% end -%>
  <% if can? :create, Client -%>
    <li><%= link_to "Create New Client", new_client_path %></li>
  <% end -%>
</ul>
