<button class="btn btn-sm btn-default" data-toggle="modal" data-target="#filter-dialog">Filter List</button>

<div class="modal" id="filter-dialog" tabindex="-1" role="dialog" aria-labelledby="filter-modal-title">
  <div class="modal-dialog">
    <div class="modal-content text-left">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="filter-modal-title">Filter List</h4>
      </div>
      <div class="modal-body">
        <div class="panel">
          Filter clients to display with the following rules.
        </div>
        <%= form_tag( clients_path, id: 'client-filter', role: 'form', method: :get ) do %>
          <div class="form-group">
            <%= select_tag "filters[is_active]", options_for_select([true, false]), include_blank: true, class: 'form-control' %>
            <label for="filters[is_active]">Is Active</label>
          </div>
          <div class="form-group">
            <%= select_tag "filters[has_picture]", options_for_select([true, false]), include_blank: true, class: 'form-control' %>
            <label for="filters[has_picture]">Has Picture</label>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="filter-submitter" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
