<% picture = false unless defined?(picture) %>
<span>
  <% if picture %>
    <% if client.picture_file_name %>
      <%= image_tag client.picture.url(:thumb) %>
    <% else %>
      <%= image_tag "https://s3.amazonaws.com/elasticbeanstalk-us-east-1-820256515611/marys-place/avatars/thumb/blank.png" %>
    <% end %>
  <% end %>
  <% unless client.is_active %>
    <span class="label label-info">Inactive</span>
  <% end %>
  <% if client.is_flagged? %>
    <% if client.is_blocked? %>
      <span class="label label-danger">Blocked</span>
    <% else %>
      <span class="label label-warning">Flagged</span>
    <% end %>
  <% end %>
  <%= link_to client.current_alias, client %>
</span>
