<span>
  <% unless client.is_active %>
    <span class="label label-info">Inactive</span>
  <% end %>
  <% if client.is_flagged? %>
    <% if client.is_blocked? %>
      <span class="label label-danger">Blocked</span>
    <% else %>
      <span class="label label-warning">Flagged</span>
    <% end %>
  <% end %>
  <%= link_to client.current_alias, client %>
</span>
