<button class="btn btn-sm btn-default" data-toggle="modal" data-target="#prefs-dialog">Choose Fields</button>

<div class="modal" id="prefs-dialog" tabindex="-1" role="dialog" aria-labelledby="prefs-modal-title">
  <div class="modal-dialog">
    <div class="modal-content text-left">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="prefs-modal-title">Preferences</h4>
      </div>
      <div class="modal-body">
        <div class="panel">
          Choose which fields to display when viewing client listings.
        </div>
        <%= form_tag( preference_user_path(current_user), id: 'client-field-prefs', role: 'form' ) do %>
          <input type="hidden" name="section" value="client_fields">
          <%= render 'checkbox', field: :picture, prefs: prefs %>
          <%= render 'checkbox', field: :full_name, prefs: prefs %>
          <%= render 'checkbox', field: :created_at, prefs: prefs %>
          <%= render 'checkbox', field: :oriented_on, prefs: prefs %>
          <%= render 'checkbox', field: :point_balance, prefs: prefs %>
          <%= render 'checkbox', field: :birthday, prefs: prefs %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="dialog-submitter" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
