<button class="btn btn-primary" data-toggle="modal" data-target="#prefs-modal">Prefs</button>

<div class="modal" id="prefs-modal" tabindex="-1" role="dialog" aria-labelledby="prefs-modal-title">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="prefs-modal-title">Preferences</h4>
      </div>
      <div class="modal-body">
        <p>Prefs go here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
