%div.id-card
  %h1
    = image_tag @client.organization.logo, style: 'max-width: 100%; margin: auto'

  %div.main
    %div.text
      %p.text= @client.current_alias
      %p= @client.barcode(height: 40, margin: 5).html_safe
      %p.text= @client.checkin_code
    %div.pic
      = image_tag @client.picture.url(:square), class: "avatar"
