= content_for(:title) do
  Log Points for
  = @client.current_alias

=content_for(:sidebar) do
  = render 'sidebar', client: @client

= render 'points_entries/form',
  client: @client, points_entry: @points_entry,
  points_entry_type: @points_entry_type,
  bail_penalty: PointsEntry.bail_penalty, locations: Location.all,
  default_location: Location.default_location_for(current_user)
