<% if email_alert_needed %>
  <div class="alert">
    <p>We need an email address to complete
    <%= link_to 'your account information', edit_user_path( current_user ) %>.
    It will not be shared with anybody outside of Mary's Place.
    </p>
  </div>
<% end %>
