<% if can? :show, Checkin %>
  <h1><%= checkin_count %></h1>
  <p class="small">checkins today</p>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to "Show Checkins", today_checkins_path %></li>
    <% if can? :create, Checkin %>
      <li>
      <%= link_to "Record Checkin", new_checkin_path %>
      </li>
    <% end %>
  </ul>
  <p>
  </p>
<% end %>
