<% if can? :show, ClientFlag %>
  <div class="row-fluid flags">
    <div class="span8">
      <%= link_to @client_flags.count, client_flags_path %> 
      Client Flags
    </div>
    <div class="span4">
    <% if can? :create, ClientFlag %>
      <%= link_to "Add Flag", new_client_flag_path, class: "btn btn-block" %>
    <% end %>
  </div>
  </div>
<% end %>
