<% if can? :show, ClientFlag %>
  <div class="flags">
    <h3>Client Flags</h3>
    <% if @client_flags %>
      <% @client_flags.each do |client_flag| %>
        <%= render client_flag %>
      <% end %>
    <% end %>
  <% if can? :create, ClientFlag %>
    <%= link_to "Add Flag", new_client_flag_path, class: "btn btn-block" %>
  <% end %>
  </div>
<% end %>
