<% if can? :show, PointsEntry %>
  <h1><%= @entry_count %></h1>
  <p class="small">Points entries logged today</p>
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to "Show Points Log", points_entries_path %></li>
    <% if can? :create, PointsEntry %>
      <li><%= link_to "Enter Points", new_points_entry_path %></li>
    <% end %>
  </ul>
<% end %>
