<% if current_user.organization %>
  <% if current_user.organization.logo %>
    <div class="well">
      <%= image_tag current_user.organization.logo, class: "img-responsive" %>
    </div>
  <% end %>
<% end %>
<div class="container-fluid">
  <div class="row">
    <div>
      <%= render 'alerts', email_alert_needed: @email_alert_needed %>
      <%= render 'clients/search_form' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4 text-center">
      <div class="panel panel-default">
        <%= render 'entry_points' %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      <div class="panel panel-default">
        <%= render 'client_flags', active_flag_count: @active_flag_count %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
      <div class="panel panel-default">
        <%= render 'checkins', checkin_count: @checkin_count %>
      </div>
    </div>
  </div>
</div>
