<%= content_for(:title) do %>Resolve Flag<% end %>

<%= form_tag(resolve_store_client_flag_path(@client_flag), method: :post, class: "form") do %>
  <div class="control-group">
    <label class="control-label" for="resolution">Resolution</label>
    <div class="controls">
      <textarea name="resolution"></textarea>
      <span class="help-block"><em>(Optional)</em> description of resolution</span>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-pimary">Resolve</button>
    </div>
  </div>
<% end %>
