/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap/theme";

.hint {
  @extend .help-block;
  @extend .small;
}

td.numeric {
  text-align: right;
  font-family: monospace;
}

th .current {
  padding: 6px;
  border: thin black solid;
}

.summary {
  float: none;
  clear: both;
  margin: 0.5em 0;

  img {
    float: left;
    margin-right: 1em;
    margin-bottom: 0.5em;
  }

  p {
    margin-top: 0;
    line-height: 1em;
  }
}

.jumbotron {
  text-align: center;
}

.centered-pills {
  text-align: center;

  ul.nav-pills {
    display: inline-block;

    li {
      display: inline;
    }

    a {
      float: left;
    }
  }
}


/* 
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    // Behave like a "row"
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

}
*/
