.pagination.pagination-large.pagination-centered
  %ul
    %li= link_to year - 1,
      annual_report_checkins_path({ year: year - 1 })
    %li.active= link_to year,
      annual_report_checkins_path({ year: year })
    %li= link_to year + 1,
      annual_report_checkins_path({ year: year + 1 })
