%ul.nav.nav-tabs
  - if can? :create, Checkin
    %li= link_to 'New Checkin', new_checkin_path
    %li= link_to 'Start Self Checkins', selfcheck_checkins_path
  %li.pull-right= link_to "Today's Checkins", today_checkins_path
