= content_for(:title) do
  Cannot Shop

= content_for(:sidebar) do
  = render 'sidebar'

%p 
  These Client Members are unable to shop today. They may have flags
  or have already shopped this week.

%table.table
  %thead
    %tr
      %th Client Member
      - if can? :manage, Client
        %th Point Balance
        %th Created At
  %tbody
    = render @clients
