= content_for(:title) do
  Bon Mary's Store

= content_for(:context_navigation) do
  = render 'context_navigation'

= form_tag(store_start_path, method: :put, class: "form-inline", role: 'form') do
  .form-group
    = label_tag "current_alias", "Client Name", class: "sr-only"
    = text_field_tag "current_alias", nil,
      data: { provide: 'typeahead', field: 'shopper_id', balance: 0 },
      autocomplete: 'off', autocapitalize: 'off', autocorrect: 'off',
      placeholder: 'Client name',
      class: 'client-typeahead form-control'
    %span.summary
      %span.point-total.text-info
    = button_tag "Start Shopping!", class: "btn btn-default"
    = hidden_field_tag :shopper_id

%table.table
  = render @carts
