= content_for(:title) do
  Cart for
  = @cart.shopper.current_alias

= content_for(:context_navigation) do
  = render 'context_navigation'

.row-fluid
  %span.span6
    %dl.dl-horizontal
      %dt Shopper
      %dd= link_to @shopper.current_alias, @cart.shopper
      %dt Started At
      %dd= l(@cart.started_at, format: :long)
      %dt Finished At
      - if @cart.finished_at
        %dd= l(@cart.finished_at, format: :long)
      - else
        %dd
          %span.label Open
          = link_to "Finish", store_finish_path(@cart), method: :put, class: "btn", data: { confirm: "Finish cart for #{@shopper.current_alias}?" }
      %dt Total Points
      %dd= @cart.total
      %dt Handled By
      %dd= @cart.handled_by.login
      - if @cart.is_open?
        %dt Shopper's Balance
        %dd= number_with_delimiter @shopper.point_balance
        %dt  After Purchase
        %dd.client-balance{data: { balance: @initial_balance } }= number_with_delimiter @initial_balance
  %span.span6
    %h3 Add Item
    = render 'store_cart_items/form', cart: @cart, default_item: @default_item

%table.table.table-striped
  - @cart.items.each do |item|
    %tr
      %td= item.catalog_item.name
      %td= item.cost
      %td= item.detail
      - if can? :manage, StoreCartItem
        %td= link_to "Remove", store_remove_path(@cart, item_id: item), class: "btn btn-link", method: :delete, data: { confirm: "Remove this item from the cart?" }
