<!DOCTYPE html>
<html class="card">
  <head>
    <meta charset="utf-8">
    <title>Mary's Place<% if content_for? :title %>: <%= yield :title %><% end %></title>
    <%= stylesheet_link_tag "card", media: "all" %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
